PORT=YOUR-BACKEND-PORT

PVE_HOST=https://IP-PVE:YOUR-PVE-PORT
PVE_NODE=Node-1 <<< SESUAIKAN-SAMA-NAMA-NODENYA
PVE_STORAGE=local-lvm <<<< SESUAIKAN-SAMMA-LETAK-DISK-MACHINE
PVE_TEMPLATE_VMID=SESUAIKAN-DENGAN-VMID-TEMPLATE >>> CONTOH-VMID-555555
PVE_BRIDGE=vmbr0 <<< SESUAIKAN-DENGAN-NAMA-INTERFACE-BRIDGE-VM

PVE_TOKEN_ID=vps-panel@pve!vps << SAAT-GENERATE-TOKEN-INI-JUGA-DICOPAS-DENGAN-BENAR
PVE_TOKEN_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX <<< INI-DEMIKIAN-JUGA-HARUS-BENAR-DAN-JANGNA-DISEBARKAN
